* {
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur/hauteur totale de l'élément */
  margin: 0; /* Réinitialise les marges */
  padding: 0; /* Réinitialise les paddings */
}
body {
  font-family: monospace;
  background-color: black;
  margin: 0%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.toolbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.toolbar-btn {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.toolbar-btn:hover {
  background-color: #777;
}
.toolbar-btn[title]:hover:after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 5px 8px;
  border-radius: 3px;
  background: #000;
  color: #fff;
  text-transform: none;
  font-size: 12px;
  line-height: 1.2;
  z-index: 9999;
}
/* Rest of your CSS */
div {
  margin: 0px;
  padding: 0px;
}

/* Set editor dimensions */
#editor {
  height: 100%;
  width: 100%;
}

/* Stretch editor to fit inside its containing div */
.cm-editor {
  height: 100%;
  width: 100%;
}
.cm-editor .cm-content {
  font-size: 12px; /* or whatever size you prefer */
}

#ui {
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: monospace;
  width: 100vw;
  height: 100vh;
  display: none;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: #20ff20;
  overflow: hidden; /* NE Permet PAS le défilement si nécessaire */
  scrollbar-width: none; /* Pour les navigateurs basés sur Firefox */
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}
#ui::-webkit-scrollbar {
  display: none;
}

#toolbar {
  position: fixed;
  z-index: 500;
  opacity: 0.5;
  display: flex;
  justify-content: center; /* Centre les boutons horizontalement */
  align-items: center; /* Centre les boutons verticalement */
  overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
  scrollbar-width: none; /* Pour les navigateurs basés sur Firefox */
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

#toolbar::-webkit-scrollbar {
  display: none;
}

#toolbar button {
  margin: 5px;
  padding: 8px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#centered-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 9999;
}

#appList {
  color: #20ff20;
  background-color: #444;
  padding: 10px;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}


#actionButton {
  position: fixed;
  bottom: 20px;
  padding: 12px;
  opacity: 50%;
  left: 20px;
  z-index: 1000;
}

#console-messages {
  position: fixed;
  padding: 30px;
  top: 0px;
  left: 0px;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 1000;
  background: #22222222;
  color: #cc0000;
}

#progressBar {
    position: fixed; /* Fixe la barre de progression par rapport à la fenêtre du navigateur */
    top: 50%;       /* Positionne la barre au milieu de l'écran verticalement */
    left: 0;        /* Alignement à gauche de l'écran */
    width: 100%;    /* Prend toute la largeur de l'écran */
    height: 20px;   /* Hauteur de la barre de progression */
    background-color: blue; /* Couleur de la barre de progression */
    transition: width 0.4s ease; /* Transition fluide pour les changements de largeur */
    transform: translateY(-50%); /* Déplace la barre vers le haut de moitié de sa hauteur pour un centrage parfait */
    z-index: 1000;

}

.appStore-container {
  z-index: 2000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  gap: 25px; /* Espacement fixe entre les éléments */
  justify-content: center;
  overflow-y: auto; /* Permet le défilement vertical si nécessaire */
  max-height: 100vh; /* Hauteur maximale pour le défilement */
}
.appButton {
  border: 2px solid #20FF20;
  border-radius: 10px;
  background-color: #001000;
  color: #20FF20;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

